@import 'tailwindcss';

@layer base {
  html,
  body {
    width: 100%;
    height: 100%;
    font-family: var(--font-pretendard), system-ui;
    letter-spacing: -3%;
    vertical-align: middle;
  }

  [data-sonner-toast] {
    font-family: var(--font-pretendard), system-ui;
    letter-spacing: -0.03em;
  }

  .input-gradient {
    background-image: linear-gradient(
      90deg,
      #adb6fd 0%,
      #a4c2f8 5%,
      #8edbff 20%,
      #a4c2f8 35%,
      #adb6fd 40%,
      #adb6fd 50%,
      #a4c2f8 55%,
      #8edbff 70%,
      #a4c2f8 85%,
      #adb6fd 90%
    );
    background-size: 200% 100%;
    animation: gradient-x-linear 3s linear infinite;
  }
}

@keyframes gradient-x-linear {
  from {
    background-position: 100% 50%;
  }
  to {
    background-position: 0% 50%;
  }
}

@theme {
  /* 1. Grayscale */
  --color-gray-900: #181d27;
  --color-gray-800: #252b37;
  --color-gray-700: #414651;
  --color-gray-600: #535862;
  --color-gray-500: #717680;
  --color-gray-400: #a4a7ae;
  --color-gray-300: #d5d7da;
  --color-gray-200: #e9eaeb;
  --color-gray-100: #f5f5f5;
  --color-gray-50: #fafafa;

  /* 2. Brand (Key Color: 600) */
  --color-brand-900: #426fb2;
  --color-brand-800: #4b7ecc;
  --color-brand-700: #558ee5;
  --color-brand-600: #5e9eff;
  --color-brand-500: #86b6ff;
  --color-brand-400: #9ec5ff;
  --color-brand-300: #b2d1ff;
  --color-brand-200: #cce1ff;
  --color-brand-100: #e5f0ff;
  --color-brand-50: #f2f8ff;

  /* 3. Error */
  --color-error-900: #7a271a;
  --color-error-800: #912018;
  --color-error-700: #b42318;
  --color-error-600: #d92d20;
  --color-error-500: #f04438;
  --color-error-400: #f97066;
  --color-error-300: #fda29b;
  --color-error-200: #fecdca;
  --color-error-100: #fee4e2;
  --color-error-50: #fef3f2;

  /* 4. Success */
  --color-success-900: #054f31;
  --color-success-800: #05603a;
  --color-success-700: #027a48;
  --color-success-600: #039855;
  --color-success-500: #12b76a;
  --color-success-400: #32d583;
  --color-success-300: #6ce9a6;
  --color-success-200: #a6f4c5;
  --color-success-100: #d1fadf;
  --color-success-50: #ecfdf3;
}
@layer utilities {
  .text-xs {
    font-size: 12px;
    line-height: 18px;
  }

  .text-sm {
    font-size: 14px;
    line-height: 20px;
  }

  .text-base,
  .text-md {
    font-size: 16px;
    line-height: 24px;
  }

  .text-lg {
    font-size: 18px;
    line-height: 28px;
  }

  .text-xl {
    font-size: 20px;
    line-height: 30px;
  }
  .text-2xl {
    font-size: 24px;
    line-height: 36px;
  }
}
